<h2><%= l(:label_customer_contact) %></h2>

<% unless @customer_contact.nil? -%>
  <%= render :partial => 'contact', :locals => {:customer_contact => @customer_contact}  %>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>

<% content_for(:header_tags) do %>
  <style type="text/css">
    .icon-users { background-image: url(../../images/users.png); }
  </style>
<% end %>