 <h3><%= ("Segnalazioni dell'utente") %></h3>
 <%

		@customerIssues.each do |value|
		
     					%>
                	 <p>
                	 	<% stringa = '#'<< value.id.to_s << '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' << value.subject << '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspStato:  ' << value.status.name %>
    					<%=link_to stringa , :controller => 'issues', :action => 'show', :id => value.id  %>
  					 </p>
					<br>

				  <%
				
		end
%>

<br>
<br>
<br>
<br>
<br>
<br>


 <%= link_to "indietro", {:controller => 'customer_plus', :action => 'show', :customer_id => @customer.id, :project_id => @project} %>